@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Helvetica';
    src: url(../public/fonts/Helvetica-Font/Helvetica-BoldOblique.ttf);
}

.grid-template-areas{
    grid-template-areas: 
    "sidenav main" 
    "now-playing now-playing";
}

.grid-template-areas .sidenav{
    grid-area: sidenav;
}

.grid-template-areas .content{
    grid-area: main;
}

.grid-template-areas .now-playing{
    grid-area: now-playing;
}
